$inputHeight:50px;
$header-height: 50px;
$Chat-header:50px;

.Chat {
  &_header {
    box-sizing: border-box;
    height: $Chat-header;
    background-color: white;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;

    &>img {
      height: 50px;
      width: 50px;
      border-radius: 20px;
    }
  }

  &_stand {
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #000;
    border-top: none;
    height: calc(100vh - #{$header-height} - #{$Chat-header} - #{$inputHeight});
    overflow-y: scroll;
  }

  &_message {
    box-sizing: border-box;
  }

  &_input {
    box-sizing: border-box;
    height: $inputHeight - 10px;

    //margin: 5px;
  }

  &_avatar {
    margin: 5px;
    height: 50px;
    width: 50px;
    border-radius: 20px;
  }
}