@import './variables';

$chat-header:50px;
$chat-futter:50px;


.chat {
  &_header {
    box-sizing: border-box;
    height: $chat-header;
    background-color: white;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;

    &>img {
      height: 45px;
      width: 45px;
      border-radius: 20px;
    }
  }

  &_body {
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #000;
    border-top: none;
    height: calc(#{$body-height} - #{$chat-header} - #{$chat-futter});
    overflow-y: scroll;
  }

  &_futter {
    box-sizing: border-box;
    height: $chat-futter;
    background-color: white;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}