$header-height: 50px;
$header-color: #fff;

$body-height: calc(100vh - #{$header-height});




//
$primary:#027bfe;
$secondary:#6c757d;
$success:#28a745;
$danger:#dc3444;
$warning: #ffc007;
$info:#14a2b8;
$light:#e4e9ef;
$dark:#343a3f;
$link:transparent;
$white:white;

$darken:10%;
$lighten:10%;