@import './btn';
@import './grid';
@import './burger';
@import './MenuUser';
@import './profile';
@import './Post';
@import './MessageListUser';
@import './Chat';
@import './login';
@import './color';

$header-color: #fff;
$header-height: 50px;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $header-color;
  height: $header-height;

  &-logo {}

  &-nav {
    flex: 10;

    & li {
      display: inline;
      margin-right: 5px;
      padding: 3px;
    }
  }
}

.body {
  width: 100vw;
  height: calc(100vh - #{$header-height});
}

.ml {
  &1 {
    margin-left: 5px;
  }
}

.m {
  &0 {
    margin: 0;
  }

  &1 {
    margin: 5px;
  }
}

.p {
  &0 {
    padding: 0;
  }

  &1 {
    padding: 5px;
  }

  &2 {
    padding: 10px;
  }
}

.w {
  &-100 {
    width: 100%;
  }
}

.h {
  &-200 {
    height: 200px;
  }
}

.resize {
  resize: none
}

.block {
  display: block;
}

.container {
  display: flex;
}

.justify-content-end {
  justify-content: end
}

.justify-content-between {
  justify-content: space-between
}

.justify-content-center {
  justify-content: center
}

.align-items-center {
  align-items: center
}

.flex {
  display: flex;
}