@import './btn';
@import './grid';
@import './burger';
@import './menuUser';
@import './profile';
@import './post';
@import './messageListUser';
@import './chat';
@import './login';
@import'./correspondence';
@import'./header';
@import './message';

$header-color: #fff;
$header-height: 50px;

.body {
  width: 100vw;
  height: calc(100vh - #{$header-height});
}

.italic {
  font-style: italic;
}

.ml {
  &1 {
    margin-left: 5px;
  }
}

.m {
  &0 {
    margin: 0;
  }

  &1 {
    margin: 5px;
  }

  &2 {
    margin: 5px;
  }
}

.p {
  &0 {
    padding: 0;
  }

  &1 {
    padding: 5px;
  }

  &2 {
    padding: 10px;
  }
}

.w {
  &-100 {
    width: 100%;
  }
}

.h {
  &-200 {
    height: 200px;
  }
}

.resize {
  resize: none
}

.block {
  display: block;
}

.container {
  margin: auto;
  max-width: 500px;

}

.justify-content-end {
  justify-content: end
}

.justify-content-between {
  justify-content: space-between
}

.justify-content-center {
  justify-content: center
}

.align-items-center {
  align-items: center
}

.flex {
  display: flex;
}

.overflow {
  overflow: scroll;
}